.profile-container {
    margin-top: 100px;
}
.nav-pills .nav-link.active {
    background-color: #28a745;
    color: #fff;
}

.nav-pills .nav-link {
    color: #28a745;
}
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

    .btn-outline-success:hover {
        background-color: #28a745;
        color: #fff;
    }
